<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
<div class="ace-settings-container" id="ace-settings-container">
<ul class="pagination">
<li><a class="auth1" sn="TeacherInfoController.list" href="/teacherInfo/list"><span class="fa fa-list"></span> 教师列表</a></li>
<li><a class="auth1" sn="TeacherInfoController.add" href="/teacherInfo/add"><span class="fa fa-plus"></span> 添加教师</a></li>
</ul></div></div></body></html>
