<!DOCTYPE html>
<html lang="zh-CN"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/adminModel">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>更新考生</title>
	</head>
	<body>
		<div th:fragment="content" th:remove="tag">

			<div class="header lighter smaller blue">
				<h3><i class="fa fa-plus"></i>&nbsp;更新考生</h3>
				<div th:replace="examPerson/nav :: content" th:remove="tag"></div>
			</div>

			<form method="POST" th:object="${examPerson}" id="dataForm">

				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">姓名：</div>
						<input name="personName" type="text" class="form-control" th:value="${examPerson.personName}" placeholder="请输入姓名" />
					</div>
				</div>

				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">性别：</div>
						<input name="gender" type="text" class="form-control" th:value="${examPerson.gender}" placeholder="请输入性别" />
					</div>
				</div>

				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">身份证号：</div>
						<input name="idCard" type="text" class="form-control" th:value="${examPerson.idCard}" placeholder="请输入身份证号" />
					</div>
				</div>

				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">电话号码：</div>
						<input name="phone" type="text" class="form-control" th:value="${examPerson.phone}" placeholder="请输入电话号码" />
					</div>
				</div>

				<div class="form-group form-group-lg">
					<div class="input-group">
						<div class="input-group-addon">考生照片：</div>
						<input name="personPhoto" type="text" class="form-control" th:value="${examPerson.personPhoto}" placeholder="请输入考生照片" />
					</div>
				</div>

				<input type="hidden" name="token" value="${session.token}"/>
				<button type="submit" class="btn btn-primary">确定提交</button>
			</form>

		</div>
	</body>
</html>
