<!DOCTYPE html>
<html lang="zh-CN"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="fragments/adminModel">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>专业列表</title>
		<script type="text/javascript">
			$(function() {
				$(".delete-obj-href").deleteFun();
			});
		</script>
	</head>
	<body>
		<div th:fragment="content" th:remove="tag">

		<div class="header lighter smaller blue">
			<h3><span class="glyphicon glyphicon-th-list"></span>&nbsp;专业列表（<span th:text="${datas.getTotalElements()}"></span>）</h3>
			<div th:replace="special/nav :: content" th:remove="tag"></div>
		</div>

		<div class="table-responsive">

			<table class="table table-hover">
				<thead>
					<tr>

						<th>学生id</th>

						<th>学生名称</th>

						<th>身份证号</th>

						<th>班级id</th>

						<th>创建日期</th>

						<th>操作</th>

					</tr>
				</thead>
				<tr th:each="obj : ${datas}">

					<td th:text="${obj.id}"></td>

					<td th:text="${obj.name}"></td>

					<td th:text="${obj.sfzh}"></td>

					<td th:text="${obj.cid}"></td>

					<td th:text="${obj.createDate}"></td>

					<td>
						<div class="action-buttons">
							<a class="green auth1" sn="SpecialController.update" title="修改" th:href="'/special/update/'+${obj.id}">
								<i class="fa fa-pencil"></i>
							</a>

							<a class="delete-obj-href red auth1" sn="SpecialController.delete" th:title="'此操作不可逆，确定删除吗？'" th:href="'/special/delete/'+${obj.id}">
								<i class="fa fa-remove"></i>
							</a>
						</div>
					</td>
				</tr>

			</table>
			<div th:include="fragments/page :: pager" th:remove="tag"></div>
		</div>
		</div>
	</body>
</html>
